<div class="dn-line-group">
    <div class="dn-middle-group-box response-container">
        <div class="dn-line response-row">
            <div class="col-cpa-1">
                <span>
                    {{type}}
                </span>
            </div>
            <div class="col-cpa-2">
                <span>
                    {{name}}
                </span>
            </div>
        </div>
    </div>
    <div class="dn-right-group-box">
        <div class="dn-zombie-ghost drawer-arrow">
            <i class="fa fa-chevron-down"></i>
        </div>
    </div>
</div>
